APP_ENVIRONMENT=dev
ODP_IMAGE_TAG=dev

MONGO_VERSION=7.0.5
MONGO_MEM=1024M
MONGO_CPU=0.5
MONGO_MEM_RES=512M
MONGO_CPU_RES=0.25

MONGO1_PORT=27021
MONGO2_PORT=27022
MONGO3_PORT=27023

MONGO_USERNAME=askondata
MONGO_PASSWORD=askondata

OLLAMA_VERSION=0.3.3
OLLAMA_PORT=11434
# Set to http://localhost if Ollama is running on host, or container DNS (http://askondata_ollama) if running in docker
OLLAMA_IP=http://localhost

LANGCHAIN_VERSION=latest
LANGCHAIN_PORT=5007
LANGCHAIN_MEM=4g
LANGCHAIN_CPU=1.0
LANGCHAIN_MEM_RES=1g
LANGCHAIN_CPU_RES=0.5

AIRFLOW_VERSION=2.9.3-python3.10
AIRFLOW_USERNAME=askondata
AIRFLOW_PASSWORD=askondata
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__SMTP__SMTP_HOST=
AIRFLOW__SMTP__SMTP_USER=
AIRFLOW__SMTP__SMTP_PASSWORD=
AIRFLOW__SMTP__SMTP_PORT=
AIRFLOW__SMTP__SMTP_MAIL_FROM=
AIRFLOW__CORE__PARALLELISM=4

POSTGRES_VERSION=15.7
POSTGRES_USER=askondata
POSTGRES_PASSWORD=askondata
POSTGRES_DB=askondata_airflow
POSTGRES_PORT=5432

SPARK_VERSION=3.3.3
SPARK_PORT=8080

HADOOP_VERSION=3.3.5
HADOOP_RES_MANAGER_PORT=8080
HADOOP_NAMENODE_PORT=9870

ASKONDATA_PORT=3001

# Llama API MongoDB Configuration
LLAMA_MONGO_ROOT_USERNAME=root
LLAMA_MONGO_ROOT_PASSWORD=rootpassword
LLAMA_MONGO_DATABASE=llama_api_database
LLAMA_MONGO_PORT=27025
LLAMA_MONGO_AUTH_SOURCE=admin
