[run]
omit = 
    askondata/Scratch ROUTES.py
    askondata/mongo_create.py
    src/api/validators/models_auth.py
    src/__init__.py
    src/api/__init__.py
    src/api/services/__init__.py 
    src/api/services/catalogs/__init__.py
    src/api/services/chat/__init__.py
    src/api/services/chat_history/__init__.py
    src/api/services/connections/__init__.py
    src/api/services/data_connector/__init__.py
    src/api/services/data_loads/__init__.py
    src/api/services/data_sources/__init__.py
    src/api/services/download/__init__.py
    src/api/services/execute/__init__.py
    src/api/services/export_config/__init__.py
    src/api/services/files/__init__.py 
    src/api/services/get_application/__init__.py
    src/api/services/google_login/__init__.py
    src/api/services/pipeline/__init__.py
    src/api/services/saved_connections/__init__.py
    src/api/services/settings/__init__.py
    src/api/services/undo_redo/__init__.py
    src/api/services/upload_config/__init__.py
    src/api/validators/__init__.py 
    src/configurations/__init__.py
    src/configurations/api/__init__.py
    src/configurations/datasources/__init__.py                         
    src/configurations/features/__init__.py                               
    src/etl/__init__.py                                                    
    src/etl/extract/__init__.py                                        
    src/etl/extract/file_operations/__init__.py
    src/etl/load/__init__.py                                                   
    src/etl/load/data_loads/__init__.py 
    src/etl/metadata/__init__.py
    src/etl/metadata/file_operations/__init__.py 
    src/etl/transfrom/__init__.py                                     
    src/etl/transfrom/data_summary/__init__.py 
    src/etl/transfrom/process/__init__.py   
    src/etl/transfrom/transformations/__init__.py
    src/etl/transfrom/transformations_messages/__init__.py
    src/hooks/__init__.py                    
    src/hooks/base/__init__.py                                                                                                   
    src/hooks/database/__init__.py           
    src/hooks/database/astra/__init__.py     
    src/hooks/database/cassandra/__init__.py                          
    src/hooks/database/mysql/__init__.py                                         
    src/hooks/database/postgres/__init__.py
    src/hooks/database/redshift/__init__.py  
    src/hooks/database/snowflake/__init__.py 
    src/models/__init__.py                   
    src/models/mongo/__init__.py             
    src/models/udf/__init__.py               
    src/utilities/__init__.py
    src/etl/transfrom/transformations_messages/transformations_messages.py
    src/hooks/base/base.py
    src/run.py
[report]
show_missing = True